# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

# Project data
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

# Experiment results
results/*
experiments/output/*

# Trained models
*.pt
*.pth
*.ckpt
*.pkl

# Logs
*.log
logs/
checkpoints/
report_sprint4*.pdf

# Build artifacts
build/
dist/
*.egg-info/